<article class="article">
  <div class="article-number">
    <%= article['number'] %>
  </div>

  <header class="article-header">
    <a class="article-header__title" href="<%= article['url'] %>">
      <%= article['title'] %>
    </a>
    <% if article['domain'] %>
      <a class="article-header__host" href="<%= article['host_url'] %>">
        (<%= article['domain'] %>)
      </a>
    <% end %>
  </header>

  <section class="article-metadata">
    <span>By <%= article['user'] %></span>
    <span>
      | <%= time_since(Time.at(article['time'])) %> ago |
    </span>
    <span><%= article['comments_count'] %> comments</span>
  </section>
</article>
