<li class="article">
  <a class="article__title" href="/item?id=<%= article['id'] %>">
    <%= article['title'] %>
  </a>

  <% if article['domain'] %>
    <a class="article__domain" href="<%= article['url'] %>" target="_blank">
      <%= article['domain'] %>
    </a>
  <% end %>

  <div class="article__metadata">
    <p><%= article['time_ago'].capitalize %>, by <%= article['user'] %></p>
    <p><%= article['comments_count'] %> comments</p>
  </div>
</li>
