<article class="article">
  <header class="article-header">
    <a class="article-header__title" href="<%= article['url'] %>" target="_blank">
      <%= article['title'] %>
    </a>
    <a class="article-header__host" href="<%= article['host_url'] %>">
      (<%= article['domain'] %>)
    </a>
  </header>

  <div class="article-metadata">
    <span>
      By <a class="article-metadata__link" href="#"><%= article['user'] %></a>
    </span>
    <span>
      <%= time_since_in_words(Time.at(article['time'])) %> hours ago
    </span>
    <span> | </span>
    <a class="article-metadata__link" href="#">
      <%= article['comments_count'] %> comments
    </a>
  </div>
</article>
