<main class="main">
  <div class="container feed">
    <h2 class="feed__title"><%= feed_title %></h2>

    <ul class="feed-items">
      <% feed_items.each do |feed_item| %>
      <%= erb(:_feed_item, locals: { feed_item: feed_item }) %>
      <% end %>
    </ul>

    <% if page_count > 1 %>
      <nav class="pagination">
        <ul class="pagination__links">
          <% if page > 1 %>
            <li>
              <a class="pagination__link pagination__link--previous" href="<%= get_link(path, page - 1) %>">
                Previous
              </a>
            </li>
            <li>
              <a class="pagination__link" href="<%= get_link(path, page - 1) %>">
                <%= page - 1 %>
              </a>
            </li>
          <% end %>

          <li>
            <a class="pagination__link pagination__link--active" href="#">
              <%= page %>
            </a>
          </li>

          <% if page < page_count %>
            <li>
              <a class="pagination__link" href="<%= get_link(path, page + 1) %>">
                <%= page + 1 %>
              </a>
            </li>
            <li>
              <a class="pagination__link pagination__link--next" href="<%= get_link(path, page + 1) %>">
                Next
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
  </div>
</main>
